@keyframes brightness {
  0%, 100%  { -webkit-filter: brightness(none); }
  50% { -webkit-filter: brightness(0.6); }
}
.redirect {
  @include z-index(modal);
  background: #262626;
  background: linear-gradient(0deg, #222 0%, #161616 100%);
  visibility: hidden;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 0.5s ease-out;
  & .logo-redirect {
    position: relative;
    animation: brightness 2s infinite;
  }
  & .redirect-text {
    margin: 25px 0 0 0;
    text-align: center;
    @include text-font2-bold($esmeralda-color-white, 1.8rem, uppercase, bold)
  }
}
