/*! Default Style for Esmeralda/ICA BANK
 * Copyright 2020 (C) AQUARELA */



 @charset "UTF-8";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-appearance: none;
 }

 html {
   // 1rem ~ 10px
   font-size: 62.5%;
 }


 @import "../resources/fonts";
 @import "../resources/colors";
 @import "../resources/variables";
 @import "../resources/animations";

 body {
   height: 100vh;
   background-color: $esmeralda-color-black;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
   font-size: 1.6rem;
 }


 .content {
   max-width: 1440px;
   width: 90%;
   margin: auto;
   padding: 0 30px;
 }


 // Header

 @import "../components/header";
 @import "../components/breadcrumbs";


 section#contact {
   margin-top: 25px;
   background-color: #262626;
   position: relative;
   & .bg {
    height: 50%;
    width: 100%;
    position: absolute;
    background-color: #3E3E3E;
    z-index: 0;
    overflow: hidden;
    & img {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      position: absolute;
      top: -150px;
      right: 0;
    }}
    & .content {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;
     z-index: 1;
     & .top {
       display: flex;
       flex-direction: column;
       position: relative;
       width: 100%;
       padding: 150px 0;
       & h1 {
        @include text-font1-bold($esmeralda-text-color-accent, 5rem, uppercase);
       } & p {
        @include text-font2-bold($esmeralda-text-color-white, 2rem, none, 300);
        margin-top: 15px;
      }
     }
      & .contact {
        display: flex;
        flex-direction: column;
        margin: 130px 0;
        padding: 40px 100px;
        border-bottom: $esmeralda-text-color-accent solid 1.8px;
        border-radius: 15px 3px;
        background-color:$esmeralda-color-black;
        box-shadow: -4px 10px 46px -10px rgba(0,0,0,0.7);
        z-index: 1;
        & .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          & h4 {
           @include text-font2-bold($esmeralda-text-color-white, 2rem, none, 300);
           margin-bottom: 25px;
          }
        }& #form-contact {
           display: flex;
           flex-direction: column;
           & .form-group {
             display: flex;
             & input {
              @include text-font1-bold($esmeralda-text-color-accent, 1.8rem, none);
              padding: 0  15px;
              width: 45rem;
              height: 50px;
              background-color: rgba($color: $esmeralda-color-black, $alpha: 0.3);
              border: solid;
              border-top: 0;
              border-left: 0;
              border-right: 0;
              border-width: 0.04em;
              border-color: $esmeralda-color-gray-border;
              margin-bottom: 20px;
              margin-right: 50px;
              transition: ease-in-out, border-color .35s ease-in-out;
              transition: ease-in-out, color .35s ease-in-out;
                &:focus {
                  outline: none;
                  border-color: $esmeralda-color-accent;
                }&:placeholder-shown + label {
                  opacity: 0;
                  visibility: hidden;
                  -webkit-transform: translateY(-4rem);
                  transform: translateY(-4rem);}
                  &:last-child {
                    margin-right: 0px;
                  }
            }
           }& textarea {
            @include text-font2-bold($esmeralda-text-color-accent, 1.8rem, none, 300);
            background-color: rgba($color: $esmeralda-color-black, $alpha: 0.3);
            border: solid;
              border-width: 0.04em;
              padding: 15px;
              border-radius: 5px;
              border-color: $esmeralda-color-gray-border;
              margin-bottom: 20px;
              transition: ease-in-out, border-color .35s ease-in-out;
              transition: ease-in-out, color .35s ease-in-out;
              &:focus {
                outline: none;
                border-color: $esmeralda-color-accent;
              }&:placeholder-shown + label {
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);}
           } & .right { height: 100%; display: flex; justify-content: flex-end;
             & button {
                    @include text-font1-bold($esmeralda-text-color-white, 1.8rem, uppercase);
                    outline: none;
                    padding: 40px;
                    background:$esmeralda-color-accent url('/dist/images/vectors/ica-send.svg') no-repeat center;
                    border-radius: 50%;
                    border-style: solid;
                    border-color: $esmeralda-color-black;
                    &:hover {
                      background-color: $esmeralda-color-accent-dark;
                    }}
           }}}

   }}


 // Footer

 @import "../components/subfooter";
 @import "../components/mainfooter";
 @import "../components/endfooter";

 // Responsive
 @import "../resources/_contact-responsive";



