// colors strings

// base
$esmeralda-color-black: #161616;
$esmeralda-color-white: #fff;
$esmeralda-color-accent: #00FF7D;
$esmeralda-color-accent-dark: #00C44F;
$esmeralda-color-gray: #9B9B9B;
$esmeralda-color-gray-border: #636363;
$esmeralda-color-gray-dark: #333333;

// text

$esmeralda-text-color-white: #fff;
$esmeralda-text-color-black: #161616;
$esmeralda-text-color-gray: #9B9B9B;
$esmeralda-text-color-accent: $esmeralda-color-accent;


