
.crisp-client .crisp-1rjpbb7 .crisp-12w1xmh,
.crisp-client .crisp-1rjpbb7 .crisp-poqhnx:hover {
  color: #161616 !important;
  -webkit-text-fill-color: #161616 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1wiroug,
.crisp-client .crisp-1rjpbb7 .crisp-ao27ue:hover {
  color: #161616 !important;
  -webkit-text-fill-color: #161616 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-6mlwlm,
.crisp-client .crisp-1rjpbb7 .crisp-q5z06s:hover {
  color: #161616 !important;
  -webkit-text-fill-color: #161616 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-wcida4,
.crisp-client .crisp-1rjpbb7 .crisp-o6w0yc:hover {
  color: #161616 !important;
  -webkit-text-fill-color: #161616 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-pusm34 {
  background-color: #161616 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-bdhv0t {
  background-color: #00C44F !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-9o0cq7 {
  background-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ws3gf1,
.crisp-client .crisp-1rjpbb7 .crisp-13h0akn:before,
.crisp-client .crisp-1rjpbb7 .crisp-13h0akn:after {
  background-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1gr5ak3 {
  background-color: #161616 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-145mbcr,
.crisp-client .crisp-1rjpbb7 .crisp-1jrqqbm:hover {
  background-color: #636363 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-17f70m7 {
  background-image: linear-gradient(125deg, #00FF7D -10%, #00C44F 100%) !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-111u58f,
.crisp-client .crisp-1rjpbb7 .crisp-y1nqlk:hover {
  border-color: #FFFFFF !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14u434g {
  border-color: rgba(0, 74, 181, 0.175) !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-k6ym6q,
.crisp-client .crisp-1rjpbb7 .crisp-1hadq69:hover,
.crisp-client .crisp-1rjpbb7 .crisp-1kqjjm4:before,
.crisp-client .crisp-1rjpbb7 .crisp-1kqjjm4:after {
  border-color: #00C44F !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1n0zdj7 {
  border-color: rgba(25, 114, 245, 0.15) !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-rdu43e {
  border-top-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ogcg7k,
.crisp-client .crisp-1rjpbb7 .crisp-1mnx9b2:hover {
  border-color: #EFF5FE !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11:placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11:-moz-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11::-moz-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11:-ms-input-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-11uxe11::-webkit-input-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp:placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp:-moz-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp::-moz-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp:-ms-input-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-14ixsrp::-webkit-input-placeholder {
  color: #00FF7D !important;
  -webkit-text-fill-color: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-gjhthi,
.crisp-client .crisp-1rjpbb7 .crisp-1t1dtpc:hover,
.crisp-client .crisp-1rjpbb7 .crisp-gjhthi:hover,
.crisp-client .crisp-1rjpbb7 .crisp-1t1dtpc:active,
.crisp-client .crisp-1rjpbb7 .crisp-gjhthi:active,
.crisp-client .crisp-1rjpbb7 .crisp-1v3kwn:hover .crisp-oc2kqi,
.crisp-client .crisp-1rjpbb7 .crisp-1v3kwn .crisp-oc2kqi:active {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1dgibgx,
.crisp-client .crisp-1rjpbb7 .crisp-1r2x6vr:hover {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1dgibgx:hover,
.crisp-client .crisp-1rjpbb7 .crisp-1r2x6vr:active {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-1dgibgx:active {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-27o9vm:hover .crisp-1ekhg1c {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-27o9vm .crisp-1ekhg1c:active {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ox3dbf,
.crisp-client .crisp-1rjpbb7 .crisp-1fmeyoi[data-active="true"] {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ox3dbf:hover {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-ox3dbf:active {
  background: #00FF7D !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j::-moz-selection,
.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j *::-moz-selection {
  background-color: #333333 !important;
}

.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j::selection,
.crisp-client .crisp-1rjpbb7 .crisp-k5ll1j *::selection {
  background-color: #333333 !important;
}
