
@media (max-width: 1420px) {
  html {
    font-size: 50%;
  }



  footer#sub-footer .content ul li {
    font-size: 1.6rem;
  }
}

@media (max-width: 1060px) {
  header#main-header .support-group  {
    display: none;
  }
  header#main-header .extend-gray {
    display: none;
  }


  }




@media (max-width: 960px) {

  header#sub-header .content {
    align-items: center;
    justify-content: center;
  }
  header#sub-header input {
    display: none;
  }

  section#cashback {
    & .content {
      justify-content: center;
      padding: 0;
      padding: 0 30px;
      & .title {
        padding: 0;
        & h1 {
          font-size: 5rem;
          padding: 0;
        }
      }
    }
  }

  section#beneficios {
    background: $esmeralda-color-accent;

    & .left-mobile {
      display: block;
      width:100%;
      height: 75vh;
      overflow: hidden;
      & img {
        object-fit: cover;
      }
    }
    & .content {
      flex-direction: column;
      & .foreground-ica {
        display: none;
      }
      & .left {
        display: none;
      }
      & .right {
        z-index: auto;
        justify-content: center;
        padding: 25px 0;
        & .extend-bg {
          display: none;
        }
        & h1 {
          text-align: center;
          margin: 0;
          padding: 25px 0 0 0 ;
        }
        & .beneficio {
          padding: 0;
          & p {
            font-size: 1.65rem;
          }
        }
      }
    }
  }

  section#seguros {

    & .content {
      padding: 90px 0 110px 0;
      & .main {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        & .left {
          height: 100%;
          order: 3;
        }
        & .right {
          align-items: center;
          text-align: center;
          width: 100%;
          height: 100%;
          order: 1;
            & img {
              width: 100%;
              height: 100%;
            }
                 }
      }
    }
  }

  section#e-commerce {
    & .content {
      padding: 150px 0 30px 0;
      & .ecommerce-image {
        top: -250px;
        & img {
          width: 100%;
        }
      }
      & .section-title {
        justify-content: center;
        text-align: center;
        & h1 {
          align-self: center;
          margin: 0;
        }
      }
      & .item-group {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        text-align: center;
        & .item {
          justify-content: center;
          align-items: center;
          align-content: center;
          margin: 0 0 25px 0;
          // width: 100%;
        &:last-child {
          width: auto;
        }}
      }
    }
  }


  footer#main-footer {
    height: auto;
  }

  footer#main-footer .content {
    flex-direction: column;
    align-items: center;
    // overflow:hidden;
  }

  footer#main-footer .content .menu-footer {
    // flex-direction: row;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
    margin: 0;
    margin-bottom: 35px;

  }

  footer#main-footer .content .menu-footer ul {
    display:grid;
  }
  footer#main-footer .content .menu-footer li {
    align-items: center;
    margin: auto 15px;
    padding: 0;
  }

  footer#main-footer .content .menu-footer li:first-child {
    margin: auto;
  }
  footer#main-footer .content .widget {
    order: 0;
    align-items: center;
    text-align: center;
  }


  footer#main-footer .content .logo-social {
    order: 3;
    margin-top: 25px;
  }
}

@media (max-width: 805px) {



  footer#sub-footer .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  & .accordion-content{
    display: flex;
    width: 100%!important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }& strong {
    padding: 0!important;
    margin: 0;
  }& [id^=accordion]:checked  {
    & ~ .accordion-content {
      height: 100%;
      width: 100%;
      opacity: 1;
      padding: 1rem 3rem;
      border: $esmeralda-color-gray-border solid 0.1rem;
      border-top: none;
    }}}
  footer#sub-footer .content h3{
    margin-top: 15px;
    text-align: center;
  }

  .address-desktop {
    display: none;
  }

  .address-mobile {
    display: block;
    line-height: 0.5rem;
  }

  footer#main-footer .content .logo-social {
    margin: 25px 0 0 0;
  }


 footer#main-footer .content .widget .company {
  display: block;
  }

  footer#main-footer .content .widget .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  footer#main-footer .content .widget .info img {
    padding-bottom: 15px;
    margin:0;
  }

  footer#main-footer .content .widget .info .company p:last-child  {
    margin:0;
  }


  footer#end-footer .content img {
    margin-left: 25px;
  }

  footer#end-footer .content  {
    margin-bottom: 25px;
  }


  header#sub-header{
    display: none;
  }
  header#main-header .login-group  {
    display: none;
  }



.one,
.two,
.three {
    background-color:$esmeralda-color-accent;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
}

.menu-toggle {
    width: 40px;
    height: 30px;
    // margin-right: 20px;
}

.menu-section.on .menu-toggle {
  position: absolute;
  right: 6rem;
  top: 2.5rem;
}

.menu-section.on .menu-toggle .one {
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-section.on .menu-toggle .two {
  opacity: 0;
}

.menu-section.on .menu-toggle .three {
  transform: rotate(-45deg) translate(8px, -9px);
}

.menu-section.on {
  position: absolute;
  top:0;
  left:0;

  width: 100vw;
  height: 100vh;

  background-color: $esmeralda-color-gray-dark;

  @include z-index(modal);

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-section.on .mobile-nav {
  display: flex;
  flex-direction: column;
 & ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style: none;
 }& a {
  @include text-font1-bold($esmeralda-color-accent, 3rem, uppercase);
  text-decoration: none;
 }& li {
   margin: 15px 0;
 }& .nav-buttons {
  display: flex;
  flex-direction: column;
  border-top: $esmeralda-color-accent solid 1px;
  padding-top: 25px;
 }& .nav-buttons button {
    @include text-font1-bold($esmeralda-text-color-black, 2rem, uppercase);
    outline: none;
    border: none;
    background-color: $esmeralda-color-accent;
    margin-left: 5px;
    padding: 0rem 45px;
    border-radius: 7px;
    height: 50px;
    margin-bottom: 15px;
 }}

}

